
@{
    ViewBag.Title = "Add";
}
<div class="layui-fluid">
    <div class="layui-form">
        <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">

                <label class="layui-form-label">用户昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="LoginId" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">

                <label class="layui-form-label">登陆密码</label>
                <div class="layui-input-inline">

                    <input type="text" name="LoginPwd" lay-verify="title|required" placeholder="请输入" autocomplete="off" class="layui-input">

                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="Pwd" placeholder="请输入" lay-verify="pass|required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="Birthday" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">住址</label>
                <div class="layui-input-inline">
                    <input type="text" name="Address" placeholder="请输入" autocomplete="off" class="layui-input">

                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="Phone" placeholder="请输入" autocomplete="off" class="layui-input">

                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="Mail" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">单行选择框</label>
                <div class="layui-input-inline">
                    <select name="UserRoleId" lay-filter="aihao">
                        <option value=""></option>
                        <option value="0">管理员</option>
                        <option value="1">超级管理员</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="layui-input-block" style="float: right;margin-right: 30px ">
            <div class="layui-form-item">
                <button class="layui-btn" id="btnExit"  ><i class="layui-icon layui-icon-ok"></i> 返回</button>
                <button class="layui-btn" lay-filter="addUser" type="submit" lay-submit><i class="layui-icon layui-icon-ok"></i> 添加</button>
            </div>
        </div>
    </div>
    
</div>
@section js
{
    <script>
        layui.use(['jquery', 'layer', 'form', 'laydate'],
            function() {
                var layer = layui.layer;
                var form = layui.form;
                $ = layui.$;
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#date'
                });
                form.verify({
                    title: function(value) {
                        if (value.length < 5) {
                            return '姓名至少得5个字符啊';
                        }
                    },
                    pass: [
                        /^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格'
                    ],

                });

                function closeIframe() {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }

                $("#btnExit").click(function() {
                    closeIframe();
                });

                form.on('submit(addUser)',
                    function(data) {
                        $.ajax({
                            url: "@Url.Action("Add", "UserManager")",
                            type: "post",
                            data: data.field,
                            error: function() {
                                layer.msg("error");
                            },
                            success: function(data) {
                                if (data.IsSuccess) {
                                    layer.msg(data.Info);
                                    top["mainSection"].refreshTable();
                                }
                            },
                            complete: function() {
                                //   layer.close(loadIndex);
                            }
                        });
                    });
            });


    </script>
}
